RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

ErrorDocument 404 /practice/404.php

# Options +FollowSymLinks
# RewriteEngine on
# RewriteCond %{SERVER_PORT} !=443 [OR]
# RewriteCond %{HTTP_HOST} !^www\.
# RewriteRule ^(.*)$ https://www.mathmammoth.com/practice/$1 [R=301,L]

Header always set X-Frame-Options "SAMEORIGIN"
Header always set Strict-Transport-Security "max-age=31536000; includeSubDomains"
Header always set X-Content-Type-Options "nosniff"
Header always set Feature-Policy "sync-xhr 'self' https://www.mathmammoth.com"
Header always set Referrer-Policy "no-referrer-when-downgrade"
