h1.text-center {
  font-size: 1.85em;
}

.nav-item {
  margin-top: 5px;
  margin-bottom: 5px;
}

.dropdown-item {
  margin-top: 8px;
  margin-bottom: 8px;
}

li.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.custom-select {
  -webkit-appearance: none;
}

.sharethis-inline-share-buttons {
  margin-bottom: 10px;
  margin-top: 10px;
}

.screenshot {
  width: 700px;
  max-width: 100%;
  box-shadow: 7px 7px 14px 3px rgb(102, 159, 182);
  border: 6px solid rgb(32, 143, 253);
  padding: 10px;
}
